@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #191919;
}

.paper {
    background-color: rgb(226, 226, 226);
}

* {
    font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e2e2e2;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0a4d8e;
    border-radius: 5px;
}
